mixin services()
    section.services&attributes(attributes)
        .container
            .services__line.services__line--1
            .services__line.services__line--2 
            .services__line.services__line--3
            h2.services__title Наши #[strong услуги]
            ul.services__list
                li.services__list-item.services__list-item--1
                    .services__list-item-wrap
                        img.services__list-icon.lazyload(src=`${modules}services/i1-black.png` alt="")
                        .services__list-descr 
                            strong Ремонт электродвигателей
                            p Перемотка сгоревшего,#[br] замена обмоток
                        a.services__list-btn.uk-button.btn-solid-primary.d-lg-none Перейти
                        .services__list-before
                            img.services__list-icon.lazyload(src=`${modules}services/i1-white.png` alt="")
                            .services__list-descr 
                                strong Ремонт электродвигателей
                                p Перемотка сгоревшего,#[br] замена обмоток
                            a.services__list-btn.uk-button.btn-solid-primary Перейти
                li.services__list-item.services__list-item--2
                    .services__list-item-wrap
                        img.services__list-icon.lazyload(src=`${modules}services/i2-black.png` alt="")
                        .services__list-descr 
                            strong Ремонт насосного оборудования
                        a.services__list-btn.uk-button.btn-solid-primary.d-lg-none Перейти
                        .services__list-before
                            img.services__list-icon.lazyload(src=`${modules}services/i2-white.png` alt="")
                            .services__list-descr 
                                strong Ремонт насосного оборудования
                            a.services__list-btn.uk-button.btn-solid-primary Перейти
                li.services__list-item.services__list-item--3
                    .services__list-item-wrap
                        img.services__list-icon.lazyload(src=`${modules}services/i3-black.png` alt="")
                        .services__list-descr 
                            strong Замена насосного оборудования
                        a.services__list-btn.uk-button.btn-solid-primary.d-lg-none(href=znoPageLink) Перейти
                        .services__list-before
                            img.services__list-icon.lazyload(src=`${modules}services/i3-white.png` alt="")
                            .services__list-descr 
                                strong Замена насосного оборудования
                            a.services__list-btn.uk-button.btn-solid-primary(href=znoPageLink) Перейти
                li.services__list-item.services__list-item--4
                    .services__list-item-wrap
                        img.services__list-icon.lazyload(src=`${modules}services/i4-black.png` alt="")
                        .services__list-descr 
                            strong Ремонт и обслуживание очистных сооружений ЛОС, БЛОС
                        a.services__list-btn.uk-button.btn-solid-primary.d-lg-none Перейти
                        .services__list-before
                            img.services__list-icon.lazyload(src=`${modules}services/i4-white.png` alt="")
                            .services__list-descr 
                                strong Ремонт и обслуживание очистных сооружений ЛОС, БЛОС
                            a.services__list-btn.uk-button.btn-solid-primary Перейти
                li.services__list-item.services__list-item--5
                    .services__list-item-wrap
                        img.services__list-icon.lazyload(src=`${modules}services/i5-black.png` alt="")
                        .services__list-descr 
                            strong Обслуживание КНС
                        a.services__list-btn.uk-button.btn-solid-primary.d-lg-none Перейти
                        .services__list-before
                            img.services__list-icon.lazyload(src=`${modules}services/i5-white.png` alt="")
                            .services__list-descr 
                                strong Обслуживание КНС
                            a.services__list-btn.uk-button.btn-solid-primary Перейти
                li.services__list-item.services__list-item--6
                    .services__list-item-wrap
                        img.services__list-icon.lazyload(src=`${modules}services/i6-black.png` alt="")
                        .services__list-descr 
                            strong Ремонт компрессоров
                        a.services__list-btn.uk-button.btn-solid-primary.d-lg-none Перейти
                        .services__list-before
                            img.services__list-icon.lazyload(src=`${modules}services/i6-white.png` alt="")
                            .services__list-descr 
                                strong Ремонт компрессоров
                            a.services__list-btn.uk-button.btn-solid-primary Перейти
                li.services__list-item.services__list-item--7
                    .services__list-item-wrap
                        img.services__list-icon.lazyload(src=`${modules}services/i7-black.png` alt="")
                        .services__list-descr 
                            strong Ремонт генераторов
                        a.services__list-btn.uk-button.btn-solid-primary.d-lg-none Перейти
                        .services__list-before
                            img.services__list-icon.lazyload(src=`${modules}services/i7-white.png` alt="")
                            .services__list-descr 
                                strong Ремонт генераторов
                            a.services__list-btn.uk-button.btn-solid-primary Перейти
                li.services__list-item.services__list-item--8
                    .services__list-item-wrap
                        img.services__list-icon.lazyload(src=`${modules}services/i8-black.png` alt="")
                        .services__list-descr 
                            strong Ремонт тельферов
                        a.services__list-btn.uk-button.btn-solid-primary.d-lg-none Перейти
                        .services__list-before
                            img.services__list-icon.lazyload(src=`${modules}services/i8-white.png` alt="")
                            .services__list-descr 
                                strong Ремонт тельферов
                            a.services__list-btn.uk-button.btn-solid-primary Перейти