//- mode - development / production
//- - var mode = 'wordpress'
//- Links 

- var phoneLink = "tel:89680423151"
- var phoneNumber = "8 (968) 042-31-51"
- var mailAdress = "remgvard@gmail.com"
- var policyLink = "/privacy-policy.pdf"
- var licenseLink = "/license.pdf"

- var homePageLink = '/'
- var aboutPageLink = '/o-nas.html'
- var servicesPageLink = '/uslugi.html'
- var repaircostPageLink = '/stoimost-remonta.html'
- var howweworkPageLink = '/kak-my-rabotaem.html'
- var contactsPageLink = '/kontakty.html'

- var znoPageLink = '/service.html'

//- social
- var vkLink = "#"
- var instLink = "#"
- var fbLink = "#"
- var tgLink = "#"
- var waLink = "#"
- var viberLink = "#"

//- image placeholder
- var ipl = "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
//- image paths
- var assets = "/assets/images/"
- var modules = `/assets/images/`
- var assetsIco = "/assets/images/icons/"
- var modulesIco = `/assets/images/icons/`
//- file paths
- var stylesPath = `/assets/styles/main.min.css`
- var scriptsPath = `/assets/scripts/main.min.js`

//- grid breakpoints
- var sm = 420
- var md = 768
- var lg = 1170

//- colors 
- var primary = '#FFDB5C'
- var secondary = '#3085EA'
 
//-
//- WP PRODUCTION
//-
- var template_directory_uri = `<?php echo get_template_directory_uri(); ?>`

if mode == 'wordpress'
    - var phoneLink = "tel:<?php echo $GLOBALS['pumps_globals']['phone_digits'] ?>"
    - var phoneNumber = "<?php echo $GLOBALS['pumps_globals']['phone'] ?>"
    - var mailAdress = "<?php echo $GLOBALS['pumps_globals']['email'] ?>"
    - var policyLink = "<?php echo $GLOBALS['pumps_globals']['privacy_link'] ?>"
    - var licenseLink = "<?php echo $GLOBALS['pumps_globals']['license_link'] ?>"

    //- social
    - var vkLink = "<?php echo $GLOBALS['pumps_globals']['vk_link'] ?>"
    - var instLink = "<?php echo $GLOBALS['pumps_globals']['inst_link'] ?>"
    - var fbLink = "<?php echo $GLOBALS['pumps_globals']['fb_link'] ?>"
    - var tgLink = "<?php echo $GLOBALS['pumps_globals']['tg_link'] ?>"
    - var waLink = "<?php echo $GLOBALS['pumps_globals']['wa_link'] ?>"
    - var viberLink = "<?php echo $GLOBALS['pumps_globals']['viber_link'] ?>"

    - var homePageLink = '<?php echo get_home_url() ?>'
    - var aboutPageLink = '/o-nas/'
    - var servicesPageLink = '/uslugi/'
    - var repaircostPageLink = '/stoimost-remonta/'
    - var howweworkPageLink = '/kak-my-rabotaem/'
    - var contactsPageLink = '/kontakty/'
    - var znoPageLink = '/uslugi/zamena-nasosnogo-oborudovanija/'

    - var assets = `${template_directory_uri}/assets/images/`
    - var modules = `${template_directory_uri}/assets/images/`
    - var assetsIco = `${template_directory_uri}/assets/images/icons/`
    - var modulesIco = `${template_directory_uri}/assets/images/icons/`
    - var stylesPath = `${template_directory_uri}/assets/styles/main.min.css`
    - var scriptsPath = `${template_directory_uri}/assets/scripts/main.min.js`


