extends modules/layout/_layout

prepend head
	title О нас
	meta(name="description", content="О нас")

block wp_head 
	!= `<?php /* Template Name: О нас */ get_header(); ?>`
block wp_foot 
	!= '<?php get_footer(); ?>'

block header
	+header(2)
block footer
	+footer(2)
block content
	main.main
		section.hero.hero-o-nas
			.hero__ibg.ibg
				+picture-min(jpg, `${assets}hero-o-nas-bg`, `${assets}hero-o-nas-bg`, `sl`)
			.hero__line.hero__line--1
			.hero__line.hero__line--2
			.hero__line.hero__line--3
			.container
				+appnav('О нас').appnav--light
				h1.hero__title О компании #[strong РЕМГВАРДИЯ]
				p.hero__descr Мы занимаемся ремонтом насосов, электродвигателей и обслуживание КНС с 1995 года.
				ul.hero__advan 
					li.hero__advan-item.hero__advan-item--1
						+icon('thumb-up', 'white')
						p Ремонтируем#[br] электродвигатели#[br] с 1995 года
					li.hero__advan-item.hero__advan-item--2
						+icon('shield-done', 'white')
						p Гарантия по договору
					li.hero__advan-item.hero__advan-item--3
						+icon('setting', 'white')
						p Сроки ремонта от 1 дня
		
		//- section DIRECTOR
		+director().s06
		//- end DIRECTOR

		section.s07 
			.container 
				h2.s07__title #[strong История] нашей компании
				.s07__widget
					.s07__tab
						ul.s07__slide-tab.uk-slider-items
							- for(var i = 1; i <= 5; i++)
								li 
									a.s07__tab-item 1995-2000
					.s07__slide 
						ul.s07__slide-items.uk-switcher
							- for(var i = 1; i <= 5; i++)
								li.s07__slide-content 
									p.s07__slide-title Период 1995-2000 года
									.s07__slide-text 
										p За 15 лет работы мы сталкивались с абсолютно разным оборудованием, даже на первый взгляд не пригодным для ремонта. Только благодаря колоссальному опыту наших мастеров нам удается его привести в полностью рабочее состояние, за что мы часто получаем благодарности.
										p Я убежден, что сервис и качество работ напрямую зависят от руководителя компании, поэтому я всегда открыт к обратной связи и вашим предложениям.
									a.s07__slide-btn.uk-button.btn-solid-primary Следующий период

		section.s08 	
			.container 
				h2.s08__title #[strong Фотографии] c&nbsp;производства
				.s08__slider(data-uk-slider)
					+slider-nav().s08__slider-nav
					.s08__slider-container.uk-slider-container 
						ul.uk-slider-items 
							li.s08__slider-item
								.s08__slider-ibg.ibg 
									+picture(jpg, `${assets}s08-i1`, 'sl', '')
							li.s08__slider-item
								.s08__slider-ibg.ibg 
									+picture(jpg, `${assets}s08-i1`, 'sl', '')
							li.s08__slider-item
								.s08__slider-ibg.ibg 
									+picture(jpg, `${assets}s08-i1`, 'sl', '')
							li.s08__slider-item
								.s08__slider-ibg.ibg 
									+picture(jpg, `${assets}s08-i1`, 'sl', '')
								
		//- section CONTACTS
		+contacts()
		//- end CONTACTS

		//- section CAPTURE
		+capture()
		//- end CAPTURE
