extends modules/layout/_layout

prepend head
	title Стоимость ремонта
	meta(name="description", content="Стоимость ремонта")

block wp_head 
	!= `<?php /* Template Name: Стоимость ремонта */ get_header(); ?>`
block wp_foot 
	!= '<?php get_footer(); ?>'

block header
	+header(4)
block footer
	+footer(4)
block content
	main.main
		section.s12 
			.container
				+appnav('Стоимость ремонта').appnav--dark
				h2.s12__title #[strong Стоимость] ремонта
				.s12__line.s12__line--1
				.s12__line.s12__line--2 
				ul.s12__list
					li.s12__list-item.s12__list-item--1
						.s12__list-item-wrap
							img.s12__list-icon.lazyload(src!=`${modules}services/i1-black.png` alt="")
							.s12__list-title Ремонт электродвигателей
							a.s12__list-btn.uk-button.btn-solid-primary 
								span.d-lg-none Скачать прайс
								span.d-none.d-lg-inline Прайс на ремонт электродвигателей
								+icon('download', '#2D2D2D')
					li.s12__list-item.s12__list-item--2
						.s12__list-item-wrap
							img.s12__list-icon.lazyload(src!=`${modules}services/i2-black.png` alt="")
							.s12__list-title Ремонт#[br] насосного оборудования
							a.s12__list-btn.uk-button.btn-solid-primary 
								span.d-lg-none Скачать прайс
								span.d-none.d-lg-inline Прайс на ремонт насосного оборудования
								+icon('download', '#2D2D2D')
					li.s12__list-item.s12__list-item--3
						.s12__list-item-wrap
							img.s12__list-icon.lazyload(src!=`${modules}services/i3-black.png` alt="")
							.s12__list-title Замена насосного#[br] оборудования
							a.s12__list-btn.uk-button.btn-solid-primary 
								span.d-lg-none Скачать прайс
								span.d-none.d-lg-inline Прайс на замену насосного оборудования
								+icon('download', '#2D2D2D')
					li.s12__list-item.s12__list-item--4
						.s12__list-item-wrap
							img.s12__list-icon.lazyload(src!=`${modules}services/i4-black.png` alt="")
							.s12__list-title Ремонт и обслуживание#[br] очистных сооружений#[br] ЛОС, БЛОС
							a.s12__list-btn.uk-button.btn-solid-primary 
								span.d-lg-none Скачать прайс
								span.d-none.d-lg-inline Прайс на ремонт и обслуживание
								+icon('download', '#2D2D2D')
					li.s12__list-item.s12__list-item--5
						.s12__list-item-wrap
							img.s12__list-icon.lazyload(src!=`${modules}services/i5-black.png` alt="")
							.s12__list-title Обслуживание КНС
							a.s12__list-btn.uk-button.btn-solid-primary 
								span.d-lg-none Скачать прайс
								span.d-none.d-lg-inline Прайс на обслуживание КНС
								+icon('download', '#2D2D2D')
					li.s12__list-item.s12__list-item--6
						.s12__list-item-wrap
							img.s12__list-icon.lazyload(src!=`${modules}services/i6-black.png` alt="")
							.s12__list-title Ремонт компрессоров
							a.s12__list-btn.uk-button.btn-solid-primary 
								span.d-lg-none Скачать прайс
								span.d-none.d-lg-inline Прайс на ремонт компрессоров
								+icon('download', '#2D2D2D')
					li.s12__list-item.s12__list-item--7
						.s12__list-item-wrap
							img.s12__list-icon.lazyload(src!=`${modules}services/i7-black.png` alt="")
							.s12__list-title Ремонт генераторов
							a.s12__list-btn.uk-button.btn-solid-primary 
								span.d-lg-none Скачать прайс
								span.d-none.d-lg-inline Прайс на ремонт генераторов
								+icon('download', '#2D2D2D')
					li.s12__list-item.s12__list-item--8
						.s12__list-item-wrap
							img.s12__list-icon.lazyload(src!=`${modules}services/i8-black.png` alt="")
							.s12__list-title Ремонт тельферов
							a.s12__list-btn.uk-button.btn-solid-primary 
								span.d-lg-none Скачать прайс
								span.d-none.d-lg-inline Прайс на ремонт тельферов
								+icon('download', '#2D2D2D')
					
		section.s13 
			.container 
				h2.s13__title #[strong Какой именно] ремонт и работы мы производим?

				p Проводим диагностику: при диагностике проводиться разбор агрегата и дефектовка всех деталей, кроме этого для диагностики используем приборы для выявления влаги в обмотках статора, прибор для дефектовки подшипников, осциллограф для сравнения статорных цепей. #[a.s13__link-moretext.link.d-lg-none(href="#") Показать полность...]
				.sm-hid
					p Ремонт гидравлической части: замена рабочего колеса, ремонт корпуса гидравлической части, замена диффузора. Ремонт электрической части: замена обмоток статора (перемотка), замена реле уровня (поплавка), замена пускового конденсатора, силового кабеля, платы управления и др.

					p За 15 лет работы мы сталкивались с абсолютно разным оборудованием, даже на первый взгляд не пригодным#[br] для ремонта. Только благодаря колоссальному опыту наших мастеров нам удается его привести в полностью рабочее состояние, за что мы часто получаем благодарности.

		//- section CAPTURE
		+capture()
		//- end CAPTURE
